.css3-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;

  &[hidden] {
    display: none !important;
  }

  &__wpr {
    width: 60%;
    max-width: 40rem;
    max-height: calc(100vh - 100px);
    background: #fff;
    box-shadow: 0 3px 100px -1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: stretch;
    padding: 10px;

    @media (max-width: 800px) {
      float: none;
      width: 100%;
      height: 100%;
      box-shadow: none;
      border-radius: 0;
      max-height: 100%;
    }
  }

  &__content {
    overflow: auto;
    width: 100%;
  }
}

.css3-close {
  position: absolute;
  right: 2rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &::before,
  &::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 2rem;
    width: 2px;
    background-color: #333;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
